block classes
	- var homeclass = '.active'
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends template

block content
	.jumbotron
		.container
			center
				img(style="background-color: rgba(0,0,0,0);", src='/img/logo.png')
				h1.display-3
					span="We develop new learning methods"
	.container
		.row
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.icon.pull-right
							i(id="spinner", class="fa fa-refresh fa-3x fa-fw", onclick="$(this).addClass ('fa-spin'); update();")
						h3.list-title Препоръчано
					.panel-body
						.col-md-6#recom
							<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/ait.php") ?>
						.col-md-6
							img(class="img-responsive", src="/img/bot.jpg")
					.panel-body
						<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/ait.php") ?>
	ul.row
		li.col-md-4.col-sm-12.col-xs-12
			.panel.panel-primary
				.panel-heading
					h3.list-title Тракове
				.panel-body
					ul.footer-list
						<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/mini-tracks.php");	?>
						li
							a.btn.btn-raised.btn-success(href="/trainings/tracks", style="margin-left: 10px; color: white !important;") Виж всички
		li.col-md-4.col-sm-12.col-xs-12
			.panel.panel-primary
				.panel-heading
					h3.list-title Курсове
				.panel-body
					ul.footer-list
						<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/mini-courses.php");	?>
						li
							a.btn.btn-raised.btn-success(href="/trainings/courses", style="margin-left: 10px; color: white !important;") Виж всички
		li.col-md-4.col-sm-12.col-xs-12
			.panel.panel-primary
				.panel-heading
					h3.list-title Семинари
				.panel-body
					ul.footer-list
						<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/mini-seminars.php");	?>
						li
							a.btn.btn-raised.btn-success(href="/trainings/seminars", style="margin-left: 10px; color: white !important;") Виж всички
		li.col-md-4.col-sm-12.col-xs-12
			.panel.panel-primary
				.panel-heading
					h3.list-title Новини
				.panel-body
					<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get/news.php");	?>
					a.btn.btn-raised.btn-success(href="/news", style="margin-left: 10px; color: white !important;") Виж всички

block js
	script.
		function update ()
		{
			$.ajax({
				url: "/lib/get/ait.php",
				type: "get",
				dataType: "html",
				success: function (data) {
					$('#recom').html(data);
					$('#spinner').removeClass('fa-spin');
				}});
		}
