block classes
	- var homeclass = undefined
	- var newsclass = '.active'
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends ../template

block styles
	style.
		.event.active { }
		.event.inactive { opacity: 0.4; }
		.event h1 { text-align: center; text-decoration: underline; color: #00b3a1; }
		#news hr { border-top: 1px solid black !important; }
		.event p { font-size: 1.35em; }
		#news .container.inactive { background-color: white; margin-left: auto;
		margin-right: auto; border: 10px solid white; border-radius: 37px; box-shadow: 10px 10px 10px 10px rgba(0, 150, 136, 0.4); margin-bottom: 55px;}
		#news .container.active { background-color: white; margin-left: auto;
		margin-right: auto; border: 10px solid white; border-radius: 37px; box-shadow: 10px 10px 10px 10px rgba(0, 150, 136, 0.4); margin-bottom: 55px;}
		#map { height: 100%; width: 100%; }
block content
	center#spinner
		i.fa.fa-spin.fa-spinner.fa-5x
	#all(style='display: none;')
		center
			#buttons.container
		div(style='height: 35px')
		#news
	#myModal.modal.fade(role='dialog')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') ×
					h4.modal-title Map
				.modal-body(style='height: 500px;')
					#map
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
block js
	script(src='/news/node_modules/linkifyjs/dist/linkify.min.js')
	script(src='/news/node_modules/linkifyjs/dist/linkify-jquery.min.js')
	script(src='/js/get_events.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDrMTsyXH5f1Ib7GPyKk8aXgnVvWaaKi5E&callback=initMap', async='', defer='')

